p Hello, #{forUser.firstName},

p Someone with your email address requested for a password reset. If this was not you, you can ignore this reset link.

p(style="margin-bottom: 0") Click the following link to reset your password (expires in #{expiry}):
p(style="margin-top: 0")
  a(href=urlPath) #{urlPath}

p If the link is not clickable, copy it and paste to the browser address bar.

p(style="margin-bottom: 0") Sincerely,
p(style="margin-top: 0") GreenDirect
